h2 {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  row-gap: 20px;
  list-style: none;
}
.listDiv {
  width: 150px;
  height: 150px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease;
    cursor: pointer;
  }
}

.listItem {
  text-decoration: none;
  color: black;

  a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }
}
