.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likeButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  color: #888;
  font-weight: 10px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #888;
  padding: 5px 8px;
  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &:hover {
    color: #f00;
    border-color: #f00;
    cursor: pointer;
  }

  &:focus {
    background-color: #f00;
    border-color: #f00;
    color: white;
  }
}

.loadingButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  color: #888;
  font-weight: 10px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #888;
  padding: 5px 8px;
  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &:focus {
    background-color: #f00;
    border-color: #f00;
    color: white;
  }
}

.likedButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: red;
  color: white;
  font-weight: 10px;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: #f00;
  padding: 5px 8px;

  svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    background-color: #f00;
    border-color: #f00;
    color: white;
  }
}

.errorMessage {
  color: red;
  margin-top: 8px;
  font-size: 0.85rem;
}
